.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;  
    background-color: #1a0dda;
    position: fixed;
    height: 50px;
    color:#fff;
}



.header{
    display: flex;
    justify-content: space-between;
    align-items: center;   
    width: 500px;
    text-decoration: none; 
   
}